<h1>Wywietlam wybrany artuku</h1>

<p>
	Tytuł: <%= @article.title%>
	
</p>
<p>
	Opis: <%= @article.description%>
</p>
<%= link_to 'edytuj', edit_article_path(@article)%> |
<%= link_to "pokażlistę artykułów", articles_path %>
